body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

#root{
    height: 100vh;
    width: 100vw;
    background-color: teal;
    display: flex;
    flex-direction: row;
}

.board{
    height: 100%;
    width: 50%;
    border: 3px solid whitesmoke;
    display: flex;
    flex-direction: column;
}

.display{
    height: 100%;
    width: 50%;
    border: 3px solid whitesmoke;
    display: flex;
    flex-direction: column;
}

.title{
    height: 10%;
    border: 3px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.content{
    height: 90%;
    border: 3px solid white;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ttt{
    height: 75%;
    width: 75%;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.history{
    height: 75%;
    width: 75%;
    border: 3px solid white;
}

.row{
    height: 100%;
   display: flex;
   flex-direction: row;
}

.row button{
    width: 34%;
    cursor: pointer;
    font-size: 90px;
}

.row button:hover{
    background-color: aqua;
}

.history {
    height: 75%;
    width: 75%;
    border: 3px solid white;
    margin: 75px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.history button {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}
